body, html {
	height: 100%;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 304px;
}

.amenity-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 304px;
	height: 100%;
	padding: 0 8px;
	background: #F0F0F0;
	overflow-y: auto;
	overflow-x: hidden;
}

.amenity {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 2em;
}

.timeline-container {
	position: relative;
	width: 288px;
	height: 1.4em;
	background: #6db4f1;
}
.timeline-container div { 
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;
	background: #1e8e00;
}
div.timeline-current {
	background: red;
	width: 1px;
}
div.timeline-mo,
div.timeline-tu,
div.timeline-we,
div.timeline-th,
div.timeline-fr,
div.timeline-sa {
	z-index: 5;
	width: 48px;
	text-align: center;
	font-size: 10px;
	line-height: 19px;
	font-weight: bold;
	vertical-align: top;
	background: transparent;
}
div.timeline-tu,
div.timeline-th,
div.timeline-sa {
	background: #9dccf4; 
}
.timeline-mo {
	left: 0px;
}
.timeline-tu {
	left: 48px;
}
.timeline-we {
	left: 96px;
}
.timeline-th {
	left: 144px;
}
.timeline-fr {
	left: 192px;
}
.timeline-sa {
	left: 240px;
}
.highlight {
	background-color: #ff0000 !important;
}