body, html {
	height: 100%;
	background: #F0F0F0;
}
#map {
	position: absolute;
	top: 42px;
	bottom: 0;
	left: 0;
	right: 304px;
}
h1 {
	font-size: 1.5em;
	margin: 0px;
}
.navbar span.brand {
	margin-left: 5px;
}

@media (min-width: 768px) {
	.amenity-list {
		position: absolute;
		top: 42px;
		right: 0;
		bottom: 0;
		width: 288px;
		padding: 0 8px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
@media (max-width: 767px) {
	#map {
		display: none;
	}
}

.amenity {
	width: 100%;
}
.amenity-name {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.opening-hours {
	margin: .25em 0 0 0;
}
.compact-offer {
	margin: 0;
}
.timeline-container {
	position: relative;
	width: 288px;
	height: 1.4em;
	background: #3d92db;
	margin-top: .25em;
	color: #FFF;
}
.timeline-container div { 
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;
	background: #5bc82b;
}
div.timeline-current {
	background: red;
	width: 1px;
	z-index: 30;
}
div.timeline-tu-bar,
div.timeline-th-bar,
div.timeline-sa-bar {
	z-index: 5;
	width: 48px;
	background: #1e77c3;
}

div.timeline-mo,
div.timeline-tu,
div.timeline-we,
div.timeline-th,
div.timeline-fr,
div.timeline-sa {
	z-index: 20;
	width: 48px;
	text-align: center;
	font-size: 10px;
	line-height: 21px;
	font-weight: bold;
	vertical-align: top;
	background: transparent;
}
.timeline-mo {
	left: 0px;
}
.timeline-tu,
.timeline-tu-bar {
	left: 48px;
}
.timeline-we {
	left: 96px;
}
.timeline-th,
.timeline-th-bar {
	left: 144px;
}
.timeline-fr {
	left: 192px;
}
.timeline-sa,
.timeline-sa-bar {
	left: 240px;
}
.highlight {
	background-color: #ff0000 !important;
}